  <div class="card chart-widget">
    <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h5">1,123</div>
          <div class="chart-wrapper mx-auto" style="height:40px;width:150px;">
            <canvas baseChart class="chart"
            [datasets]="barChart3Data"
            [labels]="barChart3Labels"
            [options]="barChart3Options"
            [colors]="barChart3Primary"
            [legend]="barChart3Legend"
            [chartType]="barChart3Type"></canvas>
          </div>
    </div>
</div>